* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
:root {
    --font-color1 : white;
    --font-color2: #f7ba24;
    --font-color3: #ffeba7;
    --font-color4:#06283D;
}

[v-cloak] {
    display: none;
}

.font1-color{
    color: var(--font-color1);
}

.font2-color{
    color: var(--font-color2);
}

.font3-color{
    color: var(--font-color3)
}

.font4-color{
    color: var(--font-color4)
}

.red-color{
    color: rgb(170, 1, 1);
}

.green-color{
    color: rgb(41, 254, 41);
}

.white-color{
    color: white;
}

.fuente-poppins {
    font-family: 'Poppins', sans-serif;
    height: 6rem;
}

.fuente-workSans {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    z-index: 2;
    
}

.fuente-audiowide{
    font-family: 'Audiowide', cursive;
}

.nav-landing-page, .collapse-nav-lista{
    background-color: transparent;
    transition: background-color 0.3s linear;
}

.nav-landing-page{
    position: fixed;
}

.nav-landing-page a {
    color: white;
}

.fotos-landing {
    background-image: url("../Imagenes/foto0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 100%;
    z-index: -1;
    position: relative;
}

.fotos-landing::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
}

.typing-container{
    position: absolute;
    left: 40px;
    top: 150px;
}

.input-cursor {
    display: inline-block;
    width: 4px;
    height: 25px;
    background-color: var(--font-color1);
    margin-left: 8px;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

.input-cursor { 
    animation: blink .6s linear infinite alternate;
}

.icono-landing {
    top: -70px;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    left: 39px;
    right: 0;
    text-align: center;
}

.div-icono {
    position: sticky;
    top: 5rem;
}

.main-index{
    
}

/*****clase boton*******/
.btn1 {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.btn1::before {
    margin-left: auto;
}

.btn1::after,
.btn1::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f7ba24;
    display: block;
    transition: 0.5s;
}

.btn1:hover::after,
.btn1:hover::before {
    width: 100%;
}
footer{
    background-image: linear-gradient(rgba(176, 176, 202, 0), rgba(42, 104, 165, 0)),url("../Imagenes/footer.jpg")!important;
}
.copyright{
    background-color:#f7ba24 ;
}
.link-contacto{
    font-size: 15px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
.link-contacto:focus,
.link-contacto:hover {
    color: #fff;
}
.link-contacto:focus:after,
.link-contacto:hover:after {
    width: 100%;
    left: 0%;
}
.link-contacto:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
.aboutus{
    background-image: linear-gradient(#f7bb24a8, #f7bb2487),url("../Imagenes/fondoAmarillo.jpg")!important;
    background-size: 1300px 700px !important;
    padding: 4rem;
    width: 100%;
}