* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.datos_cliente{
    z-index: 160 !important;
}


[v-cloak] {
    display: none;
}

.fuente-audiowide {
    font-family: 'Audiowide', cursive;
}

.fuente-poppins {
    font-family: 'Poppins', sans-serif;
    min-height: 6rem;
}

.fuente-poppin {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    --bs-btn-bg: transparent !important;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: none;
    margin: 0 2rem !important;
    text-decoration: none !important;
    padding: 4px 6px !important;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #f7ba24;
    --bs-btn-active-border-color: #f7ba24;
    /* background-image: linear-gradient(#f7bb2471, #f7bb246f),url("../Imagenes/fondoAmarillo.jpg")!important;
    background-size: cover!important;
    background-position: top; */
}

:root {
    --font-color1: white;
    --font-color2: #f7ba24;
    --font-color3: #ffeba7;
    --font-color4: #06283D;
}

.colorRojo {
    color: red;
}

.font1-color {
    color: var(--font-color1);
}

.font2-color {
    color: var(--font-color2) !important;
}

.font3-color {
    color: var(--font-color3)
}

.font4-color {
    color: var(--font-color4)
}

.backTransparente {
    background: transparent;
    border: none;
}

.w-15 {
    width: 15%;
}

.nav-offcanvas {
    background-color: var(--font-color2);
}

.flexDesde768 {
    display: none;
}

.flexHasta768 {
    display: flex;
}

.inlineDesde768 {
    display: none;
}

.inlineHasta768 {
    display: inline;
}

.inlineDesde1024 {
    display: none;
}

.boton-menu {
    height: 8vh;
}

.nav-header-mb {
    width: 15%;
}

/*****clase boton*******/
.btn1 {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.btn1::before {
    margin-left: auto;
}

.btn1::after,
.btn1::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f7ba24;
    display: block;
    transition: 0.5s;
}

.btn1:hover::after,
.btn1:hover::before {
    width: 100%;
}

.categoria {
    text-decoration: none;
    border: 1px solid black;
    padding: 4px 6px;
    color: black;
    margin: 0 1.7rem;
}

.categoria:hover {
    text-decoration: none;
    padding: 4px 6px;
    color: #f7ba24;
    background-image: linear-gradient(#000000d5, #000000db), url("../Imagenes/fondoGris.jpg");
    background-size: cover !important;
    background-position: bottom;
    margin: 0 2rem;
}

footer {
    background-image: linear-gradient(rgba(176, 176, 202, 0), rgba(42, 104, 165, 0)), url("../Imagenes/footer.jpg") !important;
}

.copyright {
    background-color: #f7ba24;
}

.link-contacto {
    font-size: 15px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.link-contacto:focus,
.link-contacto:hover {
    color: #fff;
}

.link-contacto:focus:after,
.link-contacto:hover:after {
    width: 100%;
    left: 0%;
}

.link-contacto:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.modal-sweet-alert {
    background: black !important;
    border: 2px solid #f7ba24 !important;
    border-radius: 10px !important;
    color: white !important;
}


@media(min-width: 768px) {
    .flexDesde768 {
        display: flex;
    }

    .flexHasta768 {
        display: none;
    }

    .inlineDesde768 {
        display: inline;
    }

    .inlineHasta768 {
        display: none;
    }


}

@media(min-width: 1024px) {

    .inlineDesde1024 {
        display: inline;
    }
}

.contenedor-servicios {
    width: 90%;
    border-radius: 10px;
    background-image: linear-gradient(#00000000, #00000000), url("../Imagenes/fondoProducto.jpg") !important;
    background-size: cover;
    background-position: bottom;
    padding-top: 10px;
    padding-left: 20px;
}

.img-servicio {
    width: 300px;
    margin: 0;
}

.fondo-servicio {
    background-image: linear-gradient(#000000d5, #000000db), url("../Imagenes/banner3.jpg");
    background-size: cover;
    background-position: center;

}

.titulo-servicio {
    color: #f7ba24;
    font-family: 'Audiowide', cursive;
}

.up-title {
    font-size: 1.2rem;
    color: #f7ba24;
    font-family: 'Poppins', sans-serif;
}

.down-title {
    font-size: 1.2rem;
    color: #fcfcfc;
    font-family: 'Dancing Script', cursive;
    z-index: 9;
    margin-top: 3rem;
    position: absolute;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.girarproducto {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.accordion {
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.349);
}

.carrito-flotante {
    position: fixed;
    right: 25px;
    top: 90px;
    width: 5rem;
    z-index: 150;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: -3px 6px 6px 0.5px rgba(247, 186, 36, 0.82);
}

.modales-fondo {
    background: #f7ba24;
}

.mostrar-cards {
    min-height: 800px;
}


.titulo-sin-fill {
    color: white !important;
    display: block;
    position: relative;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 4.15rem;
    letter-spacing: 0.15rem;
    line-height: 1.25;
    font-family: 'Anton', sans-serif;
    cursor: pointer;
}

.titulo-sin-fill[data-hover] {
    -webkit-text-stroke: 2px #000;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.titulo-sin-fill::before {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    -webkit-text-stroke: 0;
    -webkit-text-fill-color: #000;
    color: #000;
    transition: all 0.3s;
}

.foto-servicio-efecto {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    cursor: pointer;
    border-radius: 10px;
}

.foto-servicio-efecto:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.cuadros-servicios {
    scale: 0.7;
    position: absolute;
    cursor: pointer;
}

.letra-sin-relleno {
    position: absolute;
    scale: 0.9;
    transition: translate 1s linear;
    overflow: hidden;
}


@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    10% {
    transform: translate(1px, -1px);}
    20% {
    transform: translate(2px, -2px);}
    30% {
    transform: translate(3px, -3px);}
    40% {
    transform: translate(4px, -4px);}
    50% {
    transform: translate(0, -5px);}
    60% {
    transform: translate(-4px, -4px);}
    70% {
    transform: translate(-3px, -3px);}
    80% {
    transform: translate(-2px, -2px);}
    90% {
    transform: translate(-1px, -1px);}
    100% {
    transform: translate(0, 0);}
}

@keyframes float1 {
    0% {transform: translate(0, 0);}
    25% {transform: translate(5px, -10px);}
    50% {transform: translate(0, -20px);}
    75%{transform: translate(-5px, -10px);}
    100% {transform: translate(0, 0);}
}

#tratamiento{

    transform: rotate(95deg);
    right: -30%;
    top: 130px;
}

#ceramico {
    left: 0;
    bottom: -150px;
    animation: float 3s linear infinite;
}

#tratAc {
    left: -40px;
    bottom: -100px;
    animation: float 3s linear infinite;
    animation-delay: 3s;
}

#acrilico {
    right: -30px;
    bottom: 50px;
    transform: rotate(90deg);
}

#probalo {
    top: 240px;
    right: 10px;
    transform: rotate(20deg);
}

#basico {
    bottom: -120px;
    left: -80px;
    transform: rotate(350deg);
}

#premium {
    bottom: -270px;
    right: 20px;
    animation: float 3s linear infinite;
    animation-delay: 1s;
}

#mejor {
    bottom: -100px;
    animation: float 3s ease-in-out infinite;
    animation-delay: 2s;
}

.hojaNegra {
    transform-origin: 0% 50%;
    width: 100vw;
    height: 100vh;
    background-color: black;
    scale: 1;
    position: absolute;
    left: -100vw;
    top: 112px;
    z-index: 100;
    transition: all 2s ease-in-out;
}

.card-principal {
    transform-origin: 0% 50%;
    width: 100vw;
    height: 100vh;
    background-color: #f7ba24;
    scale: 1;
    position: absolute;
    left: -100vw;
    top: 98px;
    z-index: 100;
    transition: all 2s ease-in-out;
}

.fondo-categorias1 {
    background-image: linear-gradient(#000000d5, #000000db), url("../Imagenes/fondoGris.jpg") !important;
    background-size: cover !important;
    background-position: bottom;
    border-radius: 10px;

}

@media (max-width: 768px) {
    .palabra-servicio {
        font-size: 45px !important;
    }

    .grid__item {
        margin: 0 0 5rem 0 !important;
    }
}

@media (min-width: 768px) {
    .card-principal {
        height: 200vh;
        padding: 0;
        padding-top: 10rem;
    }
}

@media (min-width: 1024px) {
    .card-principal {
        height: 140vh;
        padding: 0;

    }
}


@media (min-width: 1440px) {
    .card-principal {
        height: 70vh;
    }
}

@media (min-width: 1450px) {
    .card-principal {
        height: 84vh;
    }
}



.icono-cierre {
    height: 3rem;
    z-index: 10;
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

.servicios-individual {
    cursor: pointer;
}



.flip-card {
    width: 340px;
    height: 200px;
    padding: 10px;
    margin: 1rem;
    background-color: transparent;
    perspective: 1000px;
}

.logo-card {
    width: 300px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-image: linear-gradient(#00000000, #00000000), url("../Imagenes/fondo-card.jpg");
    background-size: cover;
    background-position: center;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.codigo {
    width: 150px;
}

thead {
    background-color: #f8e23c;
    color: black;
}

tbody {
    /* border: 1px solid white; */
    color: black;
}


.pago{
    border-top: 2px solid #f7ba24 ;

}

.columna {
    text-align: start;
}

.img-logout {
    width: 20px;
}

.acceder-boton {
    background: linear-gradient(-45deg, #f7ba24, #262215, #1f1d17, #141414);
    background-size: 800% 400%;
    padding: 0.6rem 1em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 5s infinite cubic-bezier(.62, .28, .23, .99) both;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid black !important;
}

.acceder-boton1 {
    background: linear-gradient(-45deg, #f7ba24, #262215, #1f1d17, #141414);
    background-size: 800% 400%;
    padding: 0.6rem 1em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 5s infinite cubic-bezier(.62, .28, .23, .99) both;
}

.acceder-boton:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
    color: white !important;
}

.acceder-boton:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.tabla-checkout {
    border: 1px solid white;
}
@media (max-width: 767px){
    .acceder-boton {
        display: none;
    }
    .accordion{
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    }
}
.contain-table {
    max-height: 15rem;
    overflow-y: scroll;
}

.contain-table::-webkit-scrollbar {
    width: 8px;
}

.contain-table::-webkit-scrollbar-track {
    background-color: var(--color3);
    border-radius: 10px;
}

.contain-table::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.contain-table::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.table {
    background-color: var(--color3);
}

.main-checkout{
    min-height: 60vh;
}
